h1{
    color: blue;
background-color: azure;
}



h2{
    color: blueviolet;
}
div
{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border-bottom: 50%;
    border-top: 50%;
    border: 2px solid pink;
    border-radius: 50%;
    
}
div{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0);
    border-top: 50%;
    border-bottom: 50%;
    border: 2px solid red;
    border-radius: 50%;
    
}
#img
{
    border-radius: 50%;
}